<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chisinau Hotel</title>
</head>
<body>
<h1>Welcome to guests page</h1>
<table class="table table-striped table-bordered">
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Guest Id</td>
    </tr>
    <tr th:each="guest: ${guests}">
        <td th:text="${guest.firstName}">First Name</td>
        <td th:text="${guest.lastName}">Last Name</td>
        <td th:text="${guest.guestId} !=null? ${guest.guestId} : 'BOOK NOW'">Guest Id</td>
    </tr>
</table>

</body>
</html>