<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chisinau Hotel</title>
</head>
<body>
<h1>Welcome to reservation page</h1>
<table class="table table-striped table-bordered">
    <tr>
        <td>RoomId</td>
        <td>Guest</td>
        <td>Reservation Date</td>
    </tr>
    <tr th:each="roomReservation: ${reservation}">
        <td th:text="${roomReservation.roomId}">RoomId</td>
        <td th:text="${roomReservation.guestId}">Guest</td>
        <td th:text="${roomReservation.reservationDate} !=null? ${roomReservation.reservationDate} : 'BOOK NOW'">Reservation Date</td>
    </tr>
</table>

</body>
</html>