<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chisinau Hotel</title>
</head>
<body>
<h1>Welcome to guests page</h1>
<table class="table table-striped table-bordered">
    <tr>
        <td>Room Nr.</td>
        <td>Room Name</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Reservation Date</td>

    </tr>
    <tr th:each="guest: ${guests}">
        <td th:text="${guest.roomNumber}">Room Number</td>
        <td th:text="${guest.roomName}">Room Name</td>
        <td th:text="${guest.firstName}">First Name</td>
        <td th:text="${guest.lastName}">Last Name</td>
        <td th:text="${guest.date}">Reservation Date</td>
    </tr>
</table>

</body>
</html>